<!-- Modal Overlay-->
  <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="contactLabel">Contact Me</h4>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <a class="list-group-item">
              <i class="fa fa-envelope fa-2x mail" aria-hidden="true"></i><h4 class=mail><%=gpotte.mail%></h4>
            </a>
            <a href="<%= gpotte.instagram%>" class="list-group-item">
              <img class="logo instagram" src=ressources/instagram.png><h4 class="instagram">Instagram</h4></img>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Modal Overlay-->
