<!-- Modal Overlay-->
  <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="contactLabel">Contact Me</h4>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <a class="list-group-item">
              <h4>gilles.gpotte@gmail.com</h4>
            </a>
            <a href="https://www.instagram.com/cobblestuv/" class="list-group-item">
              <i src=ressources/instagram.eps></i><h4>Instagram</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Modal Overlay-->
