<!-- MODAL OVERLAY-->
  <div class="modal fade" id="shareModal<%=image.id%>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p>just copy this link</p>
          <input class="copyInput form-control" type=text readonly=true value=<%=image.src%>>
        </div>
      </div>
    </div>
  </div>
<!-- MODAL OVERLAY-->
