<div class="col-md-4 col-s-6"  data-toggle="modal" data-target="#myModal<%=image._id%>">
  <a href="#" class="thumbnail">
    <div class="image">
      <img class="img img-responsive full-width" src=<%=image.src%>>
    </div>
  </a>
    <div class="caption">
      <div class="container">
        <h4><%=image.title%></h4>
      </div>
    </div>
</div>
