<div class="col-lg-3 col-md-4 col-s-6"  data-toggle="modal" data-target="#myModal<%=image._id%>">
  <div class="thumbnail" href="#">
    <div class="image">
      <img class="img img-responsive full-width" src=<%=image.src%>>
    </div>
    <div class="caption">
        <h4><%=image.title%></h4>
    </div>
  </div>
  
</div>
