<% include partials/header %>
    <div class="jumbotron">
        <h1>404 <small>la page que vous cherchez n'existe pas</small></h1>
    </div>
<link rel="stylesheet" type="text/css" href="css/home.css" />
<% include partials/footer %>