<% include partials/header %>
  <div class="jumbotron">
    <h1><i class="fa fa-camera-retro" aria-hidden="true"></i> Gilles Potte</h1>
    <p><%= gpotte.bio %></p>
    <p>
      <a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#contact">Contact Me</a>
      <% if (user && user.name === 'gpotte') {%>
        <a type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#editUser">edit</a>
      <% }%>
    </p>
  </div>
  <!-- FOR EACH IMAGES CREATE A SQUARE -->
  <div class=row>
  <% images.forEach((image)=>{ %>
    <% include partials/thumbnail %>

    <%include partials/modal %>
  <% }); %>
<!-- FOR EACH IMAGES CREATE A SQUARE -->
  </div>
<link rel="stylesheet" type="text/css" href="css/home.css" />
<% include partials/footer %>
<% if (user && user.name === 'gpotte') {%>
<% include partials/editUser %>
<% }%>
