body{
  padding-top: 70px;
  background-color: #0A0708;
}

.container .jumbotron, .thumbnail, .caption, .modal-content, .list-group-item, a.list-group-item{
  border: none;
  background-color : #222222;
  color : white;
}

.thumbnail {
  cursor: pointer;
}
.modal-content li{
  style: none;
}

.modal-header{
  border-bottom: 1px solid #747474;
}

.modal-header .close {
  color: white;
}

.modal-footer {
  border-top: 1px solid #747474;
}

.logo {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

a.list-group-item:hover .logo{
  -webkit-filter: invert(0%);
  filter: invert(0%);
}

.instagram, .mail{
  height: 28px;
  display: inline;
  padding-right : 13px;
}

.form {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  background-color : #222222;
  color : white;
}

.form-control {
  margin-top: 10px;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

.copyInput {
  color: black;
}