<% include ../partials/header %>
  <div class="form">
    <h2>Upload new photo</h2>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title">
        <input type="text" class="form-control" placeholder="Source URL">
        <input type="text" class="form-control" placeholder="Description (optionnal)">
        <label for="tagList">Select list:</label>
      </div>
    </form>
  </div>
<% include ../partials/footer %>
