<% include ../partials/header %>
<div class="row">
<% content.pics.forEach((image)=>{ %>
  <% include ../partials/thumbnail %>

  <%include ../partials/modal %>
<% }); %>
</div>
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<% include ../partials/footer %>
